/**
 * CREATED BY GERGELY OROSZ AND ANDRÁS CSIRMAZ
 * COPYRIGHT 2013.
 */

.flag {
	background-image: url("country-flags-transp.png");
	height: 54px;
	width: 53px;
	display: inline-block;
	/**margin-right: .3em;*/
	line-height: 14px;
	vertical-align: text-top;
	/*background-position: 14px 14px;*/
	background-repeat: no-repeat;
}

.flag-bw {
	background-image: url("country-flags-transp-gray.png");
	height: 54px;
	width: 53px;
	display: inline-block;
	/**margin-right: .3em;*/
	line-height: 14px;
	vertical-align: text-top;
	/*background-position: 14px 14px;*/
	background-repeat: no-repeat;
}

.flag-AD {background-position: -5px -6px;}
.flag-AE {background-position: -69px -6px;}
.flag-AF {background-position: -133px -6px;}
.flag-AG {background-position: -197px -6px;}
.flag-AI {background-position: -261px -6px;}
.flag-AL {background-position: -325px -6px;}
.flag-AM {background-position: -389px -6px;}
.flag-AO {background-position: -453px -6px;}
.flag-AQ {background-position: -517px -6px;}
.flag-AR {background-position: -581px -6px;}
.flag-AS {background-position: -645px -6px;}
.flag-AT {background-position: -709px -6px;}
.flag-AU {background-position: -773px -6px;}
.flag-AW {background-position: -837px -6px;}
.flag-AX {background-position: -901px -6px;}
.flag-AZ {background-position: -965px -6px;}
.flag-BA {background-position: -1029px -6px;}
.flag-BB {background-position: -5px -93px;}
.flag-BD {background-position: -69px -93px;}
.flag-BE {background-position: -133px -93px;}
.flag-BF {background-position: -197px -93px;}
.flag-BG {background-position: -261px -93px;}
.flag-BH {background-position: -325px -93px;}
.flag-BI {background-position: -389px -93px;}
.flag-BJ {background-position: -453px -93px;}
.flag-BL {background-position: -517px -93px;}
.flag-BM {background-position: -581px -93px;}
.flag-BN {background-position: -645px -93px;}
.flag-BO {background-position: -709px -93px;}
.flag-BQ {background-position: -773px -93px;}
.flag-BR {background-position: -837px -93px;}
.flag-BS {background-position: -901px -93px;}
.flag-BT {background-position: -965px -93px;}
.flag-BV {background-position: -1029px -93px;}
.flag-BW {background-position: -5px -180px;}
.flag-BY {background-position: -69px -180px;}
.flag-BZ {background-position: -133px -180px;}
.flag-CA {background-position: -197px -180px;}
.flag-CC {background-position: -261px -180px;}
.flag-CD {background-position: -325px -180px;}
.flag-CF {background-position: -389px -180px;}
.flag-CG {background-position: -453px -180px;}
.flag-CH {background-position: -517px -180px;}
.flag-CI {background-position: -581px -180px;}
.flag-CK {background-position: -645px -180px;}
.flag-CL {background-position: -709px -180px;}
.flag-CM {background-position: -773px -180px;}
.flag-CN {background-position: -837px -180px;}
.flag-CO {background-position: -901px -180px;}
.flag-CR {background-position: -965px -180px;}
.flag-CU {background-position: -1029px -180px;}
.flag-CV {background-position: -5px -267px;}
.flag-CW {background-position: -69px -267px;}
.flag-CX {background-position: -133px -267px;}
.flag-CY {background-position: -197px -267px;}
.flag-CZ {background-position: -261px -267px;}
.flag-DE {background-position: -325px -267px;}
.flag-DJ {background-position: -389px -267px;}
.flag-DK {background-position: -453px -267px;}
.flag-DM {background-position: -517px -267px;}
.flag-DO {background-position: -581px -267px;}
.flag-DZ {background-position: -645px -267px;}
.flag-EC {background-position: -709px -267px;}
.flag-EE {background-position: -773px -267px;}
.flag-EG {background-position: -837px -267px;}
.flag-EH {background-position: -901px -267px;}
.flag-ER {background-position: -965px -267px;}
.flag-ES {background-position: -1029px -267px;}
.flag-ET {background-position: -5px -354px;}
.flag-FI {background-position: -69px -354px;}
.flag-FJ {background-position: -133px -354px;}
.flag-FK {background-position: -197px -354px;}
.flag-FM {background-position: -261px -354px;}
.flag-FO {background-position: -325px -354px;}
.flag-FR {background-position: -389px -354px;}
.flag-GA {background-position: -453px -354px;}
.flag-GB {background-position: -517px -354px;}
.flag-GD {background-position: -581px -354px;}
.flag-GE {background-position: -645px -354px;}
.flag-GF {background-position: -709px -354px;}
.flag-GG {background-position: -773px -354px;}
.flag-GH {background-position: -837px -354px;}
.flag-GI {background-position: -901px -354px;}
.flag-GL {background-position: -965px -354px;}
.flag-GM {background-position: -1029px -354px;}
.flag-GN {background-position: -5px -441px;}
.flag-GP {background-position: -69px -441px;}
.flag-GQ {background-position: -133px -441px;}
.flag-GR {background-position: -197px -441px;}
.flag-GS {background-position: -261px -441px;}
.flag-GT {background-position: -325px -441px;}
.flag-GU {background-position: -389px -441px;}
.flag-GW {background-position: -453px -441px;}
.flag-GY {background-position: -517px -441px;}
.flag-HK {background-position: -581px -441px;}
.flag-HM {background-position: -645px -441px;}
.flag-HN {background-position: -709px -441px;}
.flag-HR {background-position: -773px -441px;}
.flag-HT {background-position: -837px -441px;}
.flag-HU {background-position: -901px -441px;}
.flag-ID {background-position: -965px -441px;}
.flag-IE {background-position: -1029px -441px;}
.flag-IL {background-position: -5px -528px;}
.flag-IM {background-position: -69px -528px;}
.flag-IN {background-position: -133px -528px;}
.flag-IO {background-position: -197px -528px;}
.flag-IQ {background-position: -261px -528px;}
.flag-IR {background-position: -325px -528px;}
.flag-IS {background-position: -389px -528px;}
.flag-IT {background-position: -453px -528px;}
.flag-JE {background-position: -517px -528px;}
.flag-JM {background-position: -581px -528px;}
.flag-JO {background-position: -645px -528px;}
.flag-JP {background-position: -709px -528px;}
.flag-KE {background-position: -773px -528px;}
.flag-KG {background-position: -837px -528px;}
.flag-KH {background-position: -901px -528px;}
.flag-KI {background-position: -965px -528px;}
.flag-KM {background-position: -1029px -528px;}
.flag-KN {background-position: -5px -615px;}
.flag-KP {background-position: -69px -615px;}
.flag-KR {background-position: -133px -615px;}
.flag-KW {background-position: -197px -615px;}
.flag-KY {background-position: -261px -615px;}
.flag-KZ {background-position: -325px -615px;}
.flag-LA {background-position: -389px -615px;}
.flag-LB {background-position: -453px -615px;}
.flag-LC {background-position: -517px -615px;}
.flag-LI {background-position: -581px -615px;}
.flag-LK {background-position: -645px -615px;}
.flag-LR {background-position: -709px -615px;}
.flag-LS {background-position: -773px -615px;}
.flag-LT {background-position: -837px -615px;}
.flag-LU {background-position: -901px -615px;}
.flag-LV {background-position: -965px -615px;}
.flag-LY {background-position: -1029px -615px;}
.flag-MA {background-position: -5px -702px;}
.flag-MC {background-position: -69px -702px;}
.flag-MD {background-position: -133px -702px;}
.flag-ME {background-position: -197px -702px;}
.flag-MF {background-position: -261px -702px;}
.flag-MG {background-position: -325px -702px;}
.flag-MH {background-position: -389px -702px;}
.flag-MK {background-position: -453px -702px;}
.flag-ML {background-position: -517px -702px;}
.flag-MM {background-position: -581px -702px;}
.flag-MN {background-position: -645px -702px;}
.flag-MO {background-position: -709px -702px;}
.flag-MP {background-position: -773px -702px;}
.flag-MQ {background-position: -837px -702px;}
.flag-MR {background-position: -901px -702px;}
.flag-MS {background-position: -965px -702px;}
.flag-MT {background-position: -1029px -702px;}
.flag-MU {background-position: -5px -789px;}
.flag-MV {background-position: -69px -789px;}
.flag-MW {background-position: -133px -789px;}
.flag-MX {background-position: -197px -789px;}
.flag-MY {background-position: -261px -789px;}
.flag-MZ {background-position: -325px -789px;}
.flag-NA {background-position: -389px -789px;}
.flag-NC {background-position: -453px -789px;}
.flag-NE {background-position: -517px -789px;}
.flag-NF {background-position: -581px -789px;}
.flag-NG {background-position: -645px -789px;}
.flag-NI {background-position: -709px -789px;}
.flag-NL {background-position: -773px -789px;}
.flag-NO {background-position: -837px -789px;}
.flag-NP {background-position: -901px -789px;}
.flag-NR {background-position: -965px -789px;}
.flag-NU {background-position: -1029px -789px;}
.flag-NZ {background-position: -5px -876px;}
.flag-OM {background-position: -69px -876px;}
.flag-PA {background-position: -133px -876px;}
.flag-PE {background-position: -197px -876px;}
.flag-PF {background-position: -261px -876px;}
.flag-PG {background-position: -325px -876px;}
.flag-PH {background-position: -389px -876px;}
.flag-PK {background-position: -453px -876px;}
.flag-PL {background-position: -517px -876px;}
.flag-PM {background-position: -581px -876px;}
.flag-PN {background-position: -645px -876px;}
.flag-PR {background-position: -709px -876px;}
.flag-PS {background-position: -773px -876px;}
.flag-PT {background-position: -837px -876px;}
.flag-PW {background-position: -901px -876px;}
.flag-PY {background-position: -965px -876px;}
.flag-QA {background-position: -1029px -876px;}
.flag-RE {background-position: -5px -963px;}
.flag-RO {background-position: -69px -963px;}
.flag-RS {background-position: -133px -963px;}
.flag-RU {background-position: -197px -963px;}
.flag-RW {background-position: -261px -963px;}
.flag-SA {background-position: -325px -963px;}
.flag-SB {background-position: -389px -963px;}
.flag-SC {background-position: -453px -963px;}
.flag-SD {background-position: -517px -963px;}
.flag-SE {background-position: -581px -963px;}
.flag-SG {background-position: -645px -963px;}
.flag-SH {background-position: -709px -963px;}
.flag-SI {background-position: -773px -963px;}
.flag-SJ {background-position: -837px -963px;}
.flag-SK {background-position: -901px -963px;}
.flag-SL {background-position: -965px -963px;}
.flag-SM {background-position: -1029px -963px;}
.flag-SN {background-position: -5px -1050px;}
.flag-SO {background-position: -69px -1050px;}
.flag-SR {background-position: -133px -1050px;}
.flag-ST {background-position: -197px -1050px;}
.flag-SV {background-position: -261px -1050px;}
.flag-SX {background-position: -325px -1050px;}
.flag-SY {background-position: -389px -1050px;}
.flag-SZ {background-position: -453px -1050px;}
.flag-TC {background-position: -517px -1050px;}
.flag-TD {background-position: -581px -1050px;}
.flag-TF {background-position: -645px -1050px;}
.flag-TG {background-position: -709px -1050px;}
.flag-TH {background-position: -773px -1050px;}
.flag-TJ {background-position: -837px -1050px;}
.flag-TK {background-position: -901px -1050px;}
.flag-TL {background-position: -965px -1050px;}
.flag-TM {background-position: -1029px -1050px;}
.flag-TN {background-position: -5px -1137px;}
.flag-TO {background-position: -69px -1137px;}
.flag-TR {background-position: -133px -1137px;}
.flag-TT {background-position: -197px -1137px;}
.flag-TV {background-position: -261px -1137px;}
.flag-TW {background-position: -325px -1137px;}
.flag-TZ {background-position: -389px -1137px;}
.flag-UA {background-position: -453px -1137px;}
.flag-UG {background-position: -517px -1137px;}
.flag-UM {background-position: -581px -1137px;}
.flag-US {background-position: -645px -1137px;}
.flag-UY {background-position: -709px -1137px;}
.flag-UZ {background-position: -773px -1137px;}
.flag-VA {background-position: -837px -1137px;}
.flag-VC {background-position: -901px -1137px;}
.flag-VE {background-position: -965px -1137px;}
.flag-VG {background-position: -1029px -1137px;}
.flag-VI {background-position: -5px -1224px;}
.flag-VN {background-position: -69px -1224px;}
.flag-VU {background-position: -133px -1224px;}
.flag-WF {background-position: -197px -1224px;}
.flag-WS {background-position: -261px -1224px;}
.flag-YE {background-position: -325px -1224px;}
.flag-YT {background-position: -389px -1224px;}
.flag-ZA {background-position: -453px -1224px;}
.flag-ZM {background-position: -517px -1224px;}
.flag-ZW {background-position: -581px -1224px;}

